<div class="container">
  <h1>Welcome to Javascript Racer!</h1>
  <p>Players, login!</p>

  <form id="login" action="/game" method="post">
    <input type="text" name="player1" placeholder="Player 1 name">
    <input type="text"  name="player2" placeholder="Player 2 name">
    <input type="submit" value="submit">
  </form>

</div>
